<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo" href="">
        <svg class="header-logo-icon" width="123" height="16">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="header-list">
        <li class="header-list-item">
          <a class="header-list-link" href="">About us</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="">Our courses</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="">Our mentors</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="">Reviews</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="">Contacts</a>
        </li>
      </ul>

      <a class="header-logo-photo" href=""
        ><svg class="header-logo-photo" width="16" height="16">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="button js-open-menu" type="button">
        <svg class="button-menu-icon" width="32" height="22">
          <use href=""></use>
        </svg>
      </button>
    </nav>

    <button class="toogle-menu js-open-menu" type="button">Sign up</button>
  </div>
</header>
