<section class="mentors-section">
  <div class="container">
    <h2 class="mentors-title">Our<span class="mentors-span"> Mentors</span></h2>
    <ul class="mentors-list list">
      <li class="mentors-link link">
        <picture class="pictures">
          <source
            srcset="
              ./img/our_mentors/girl_1.png    1x,
              ./img/our_mentors/girl_1@2x.png 2x
            "
          />
          <img
            src="./img/our_mentors/girl_1.png"
            alt="Frontend Developer"
            width="180"
            loading="lazy"
          />
        </picture>
        <div class="ment">
          <h3 class="mentors-name">Emilia Smith</h3>
          <p class="mentors-description">1.5 years of experience</p>
        </div>
      </li>

      <li class="mentors-link">
        <picture class="pictures">
          <source
            srcset="
              ./img/our_mentors/boy_1.png    1x,
              ./img/our_mentors/boy_1@2x.png 2x
            "
          />
          <img
            src="./img/our_mentors/boy_1.png"
            alt="Frontend Developer"
            width="180"
            loading="lazy"
          />
        </picture>
        <div class="ment">
          <h3 class="mentors-name">Alex Lebedev</h3>
          <p class="mentors-description">3.5 years of experience</p>
        </div>
      </li>

      <li class="mentors-link">
        <picture class="pictures">
          <source
            srcset="
              ./img/our_mentors/girl_2.png    1x,
              ./img/our_mentors/girl_2@2x.png 2x
            "
          />
          <img
            src="./img/our_mentors/girl_2.png"
            alt="Frontend Developer"
            width="180"
            loading="lazy"
          />
        </picture>
        <div class="ment">
          <h3 class="mentors-name">Mia Dubrovska</h3>
          <p class="mentors-description">2.0 years of experience</p>
        </div>
      </li>

      <li class="mentors-link">
        <picture class="pictures">
          <source
            srcset="
              ./img/our_mentors/boy_2.png    1x,
              ./img/our_mentors/boy_2@2x.png 2x
            "
          />
          <img
            src="./img/our_mentors/boy_2.png"
            alt="Frontend Developer"
            width="180"
            loading="lazy"
          />
        </picture>
        <div class="ment">
          <h3 class="mentors-name">Eliot Kovalev</h3>
          <p class="mentors-description">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
