.section-about {
  padding-bottom: 97px;
}
@media only screen and (min-width: 768px) {
  .section-about {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .section-about {
    padding-bottom: 150px;
  }
}
.section-about-div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

/* @media only screen and (min-width: 768px) {
  .section-about-div {
    margin-bottom: 100px;
  }
} */

@media only screen and (min-width: 1280px) {
  .section-about-div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 150px; */
  }
}

@media only-screen and (min-width: 1440px) {
  .section-about-div {
    margin-left: auto;
    margin-right: auto;
  }
}

.about-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .about-title {
    font-size: 48px;
    line-height: 1.13;
    margin-bottom: 50px;
  }
}

.colored-us {
  color: var(--accent-color);
}

@media only screen and (min-width: 1280px) {
  .img-pars-us {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .img-pars-us {
    gap: 50px;
  }
}

.about-img-v2 {
  margin: 0;
}
@media only screen and (min-width: 1440px) {
  .about-img-v2 {
    min-width: 544px;
  }
}

.about-par-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .about-par-list {
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-par-list {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-par-list {
    gap: 15px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-par-list {
    gap: 40px;
    margin-top: 60px;
  }
}

.about-par-item {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

@media only screen and (min-width: 768px) {
  .about-par-item {
    font-size: 16px;
    line-height: 1.25;
    width: 280px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-par-item {
    width: 268px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-par-item {
    width: 330px;
  }
}

@media only screen and (min-width: 1280px) {
  .par-about {
    width: 268px;
  }
}

@media only screen and (min-width: 1440px) {
  .par-about {
    width: 330px;
  }
}

@media (min-width: 320px) and (max-width: 374.98px) {
  .img-pars-us {
    width: 280px;
  }
}
