/* ============FOTER========== */

.footer {
  background-image: url(/img/bg/bg_mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 39px;
  padding-bottom: 20px;
}
.footer .container {
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .footer {
    background-image: url(/img/bg/bg_tablet.png);

    padding-bottom: 25px;

    padding-top: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    background-image: url(/img/bg/bg_1280.png);
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    background-image: url(/img/bg/bg_1440.png);
  }
}

@media only screen and (min-width: 768px) {
  .footer-tablet-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.footer-logo-link {
  display: block;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .footer-logo-link {
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-logo {
    margin-right: 148px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-logo {
    margin-right: 150px;
  }
}

/* .footer-line {
 
  max-width: 1440px;
  width: 100%;
  height: 2px;
  margin-bottom: 40px;
} */
.footer-logo-icon {
  display: block;
  fill: var(--white-color);
  margin-bottom: 0px;
}

.footer-contact-list {
  display: block;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.3;
}
.footer-contact-link {
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.footer-social-navigation {
  display: flex;
  gap: 44px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .footer-social-navigation {
    gap: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-social-navigation {
    margin-bottom: 50px;
    gap: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-social-navigation {
    gap: 100px;
  }
}

.footer-social-list {
  margin-bottom: 75px;
}

.footer-social-list-link {
  display: block;
  padding-bottom: 14px;
  font-size: 14px;
  text-transform: uppercase;
}
.footer-navigaion-list-link {
  display: block;
  font-size: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1280px) {
  .footer-social-list-link {
    padding-bottom: 20px;
  }
  .footer-navigaion-list-link {
    padding-bottom: 20px;
  }
}

.footer-navigaion-list-item:last-child .footer-navigaion-list-link {
  padding-bottom: 0;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    gap: 8px;
  }
}

.footer-label {
  display: block;
  width: 100%;
}

.footer-input {
  display: block;
  max-width: 267px;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  background-color: var(--white-color);
}
@media only screen and (min-width: 768px) {
  .footer-input {
    max-width: 178px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-input {
    min-width: 216px;
  }
}

.footer-input::placeholder {
  color: var(--background-dark-color);
}

.footer-button {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  color: var(--white-color);
  border-radius: 12px;
  border: none;
  background-color: var(--hover-color);
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
}

.footer-input:focus-visible {
  outline: none;
}

.footer-copyright-list {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.3;
}

.footer-copyright-link {
  display: block;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33; /* 133.333% */
}
@media only screen and (min-width: 768px) {
  .footer-copyright-link {
    font-size: 14px;
  }
}
