.header {
  padding-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    margin-bottom: 80px;
  }
}
.header-nav {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--background-dark-color);
  display: flex;
  padding-right: 19px;
  padding-left: 19px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    height: 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-nav {
    padding-right: 49px;
    padding-left: 49px;
  }
}
.header-container {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .header-container {
    gap: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1277px) {
  .header-container {
    padding: 0 32px;
  }
}
/* @media only screen and (min-width: 768px) and (max-width: 1278px) {
  .header-container {
    width: 768px;
  }
} */
.header-list {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  gap: 28px;
}
.header-logo {
  height: 16px;
}
@media only screen and (max-width: 1279px) {
  .header-list {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .header-list {
    margin-left: 97px;
    gap: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-list {
    gap: 40px;
    margin-left: 209px;
  }
}
.header-logo-icon {
  fill: var(--white-color);
}
.mobail-header-icon {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  gap: 14px;
}
@media only screen and (min-width: 1280px) {
  .mobail-header-icon {
    display: none;
  }
}
.button-header {
  padding: 0;

  display: inline-flex;

  border: none;
}
@media only screen and (min-width: 768px) {
  .button-menu-icon {
    width: 40px;
  }
}
.button-menu-icon {
  background: none;
  background-color: var(--background-dark-color);
}
.header-logo-photo-link {
  width: 32px;
  height: 32px;
  border-radius: 90px;

  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hover-color);
}
.header-logo-photo {
  fill: rgba(190, 166, 158, 0.4);
}

.header-logo-photo:hover {
  fill: var(--accent-color);
}
@media only screen and (min-width: 768px) {
  .header-logo-photo-link {
    display: none;
  }
}

.toogle-menu {
  min-width: 186px;
  height: 60px;
  color: var(--background-dark-color);
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;

  font-weight: 700;
  line-height: 1.55;
  text-transform: uppercase;
  display: inline-flex;
  /* padding: 16px 58px; */
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--white-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.toogle-menu:focus,
.toogle-menu:hover {
  background: var(--hover-color);
  color: var(--accent-color);
}
@media only screen and (min-width: 1280px) {
  .toogle-menu {
    min-width: 238px;
  }
}
@media only screen and (max-width: 767px) {
  .toogle-menu {
    display: none;
  }
}

.header-list-link {
  color: var(--white-color);

  font-size: 14px;

  text-transform: uppercase;
}
.header-list-link:focus,
.header-list-link:hover {
  color: var(--accent-color);
}
.menu-conteiner {
  position: fixed;
  z-index: 999;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
  transition-delay: 300ms;
}
.menu-conteiner.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  transition-delay: 0ms;
}

.div-menu-conteiner {
  position: absolute;
  width: 218px;
  height: 100%;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 300ms ease;
  transition-delay: 0ms;
}
.menu-conteiner.is-open .div-menu-conteiner {
  transform: translateX(0);
  transition-delay: 300ms;
}
@media only screen and (min-width: 768px) {
  .div-menu-conteiner {
    min-width: 476px;
  }
}
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  border: none;
}
.menu-toggle-icon {
  stroke: var(--background-dark-color);
}
.mobile-menu {
  padding-top: 180px;

  padding-left: 20px;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    padding-top: 150px;

    padding-left: 64px;
    margin-bottom: 0;
  }
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 28px;
  }
}

.mobile-menu-link {
  color: var(--background-dark-color);
  font-size: 14px;

  font-weight: 400;

  text-transform: uppercase;
}
.current-menu {
  font-weight: 700;

  text-transform: uppercase;
}
.photo-for-meny-mobail {
  min-width: 218px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .photo-for-meny-mobail {
    width: 100%;
  }
}
