.header {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    margin-bottom: 80px;
  }
}
.header-nav {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #121212;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    height: 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-nav {
    padding-right: 50px;
    padding-left: 50px;
  }
}
.header-container {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .header-container {
    gap: 14px;
  }
}
/* @media only screen and (min-width: 768px) and (max-width: 1278px) {
  .header-container {
    width: 768px;
  }
} */
.header-list {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  gap: 28px;
}
@media only screen and (max-width: 1279px) {
  .header-list {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .header-list {
    gap: 40px;
  }
}
.header-logo-icon {
  fill: #fff;
}
.mobail-header-icon {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  gap: 14px;
}
@media only screen and (min-width: 1280px) {
  .mobail-header-icon {
    display: none;
  }
}
.button-header {
  padding: 0;

  display: inline-flex;

  border: none;
}
.button-menu-icon {
  background: none;
  background-color: #121212;
}
.header-logo-photo-link {
  width: 32px;
  height: 32px;
  border-radius: 90px;

  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
}
@media only screen and (min-width: 768px) {
  .header-logo-photo-link {
    display: none;
  }
}
.header-logo-photo {
}

.toogle-menu {
  min-width: 186px;
  height: 60px;
  color: #121212;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;

  font-weight: 700;
  line-height: 1.55;
  text-transform: uppercase;
  display: inline-flex;
  /* padding: 16px 58px; */
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  border: none;
}
@media only screen and (min-width: 1280px) {
  .toogle-menu {
    min-width: 238px;
  }
}
@media only screen and (max-width: 767px) {
  .toogle-menu {
    display: none;
  }
}

.header-list-link {
  color: #fff;

  font-size: 14px;

  text-transform: uppercase;
}
.menu-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bea69e;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 300ms ease-in;
}
.menu-conteiner.is-open {
  transform: translateX(0);
  transition-delay: 150ms;
}
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: #bea69e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  border: none;
}
.menu-toggle-icon {
  stroke: #121212;
}
.mobile-menu {
  padding-top: 180px;
  /* padding-bottom: 133px; */
  padding-left: 20px;
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 20px;
}
.mobile-menu-link {
  color: #121212;
  font-size: 14px;

  font-weight: 400;

  text-transform: uppercase;
}
.current-menu {
  font-weight: 700;

  text-transform: uppercase;
}
.photo-for-meny-mobail {
  min-width: 218px;
  width: 100%;
}
/* @media only screen and not (hover: hover) {
  .menu-toggle:active {
  }
} */
.background-graphic {
  /* width: 100%;
  height: 100%; */
  background: url(../img/photo-for-meny/Graphic.png);
  width: 100%;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
}
