/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./adverts.css');
@import url('./about.css');
@import url('./courses.css');
@import url('./mentors.css');
@import url('./sign.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  --background-dark-color: #121212;
  --hover-color: #1d1d1d;
  --white-color: #ffffff;
  --accent-color: #bea69e;
  --avatar-bg-color: #e0e0e0;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  background: #121212;
}

.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.background {
  background-image: url(../img/bg/bg_mob.png);
  /* background-repeat: repeat-x; */
  background-size: contain;
}
